:root {
    --max-width: 800px;
    --nav-height: 60px;
  }
  
  body {
    margin: 0;
    padding: 0 15px 80px;
    background-image: url(darkWall.jpg);
    background-size: 100% 4000px;
    color:white;
    font-family: 'Open Sans', sans-serif;
  }
  
  nav ul {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  nav ul li {
    text-align: center;
  }
  
  nav ul li a {
    display: block;
    padding: 0 15px;
    line-height: var(--nav-height);
    color: white;
    text-decoration: none;
    text-shadow: 0 2px 3px #0000007d;
    font-size: 1.2em;
    transition: transform .2s ease-in;
  }
  nav ul li a:hover {
    transform: scale(1.3);
  }
  nav ul li a.active {
    text-decoration: underline;
  }
  h1 {
      text-align: center;
      padding-top:5%;
      font-size: 2em;
  }
  .back {
      width: 80%;
      height: 100%;
      margin-left: 10%;
      border-radius: 5px;
  }
  .active {
      text-decoration: none;
  }
  header {
    width: var(--max-width);
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
  }
  
  section#content {
    width: var(--max-width);
    margin: 0 auto;
    display: flex;
  }
  
  section#content ul {
    list-style-type: none;
    padding-left: 0;
  }