:root {
    --max-width: 800px;
    --nav-height: 60px;
  }
  
  body {
    margin: 0;
    padding: 0 15px 80px;
    background-image: url(darkWall.jpg);
    background-size: 100% 4000px;
    color:white;
    font-family: 'Open Sans', sans-serif;
  }
  
  nav ul {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
 ul li {
    text-align: center;
  }
  
ul li a {
    
    padding: 0 15px;
    line-height: var(--nav-height);
    color: white;
    text-decoration: none;
    text-shadow: 0 2px 3px #0000007d;
    font-size: 1.2em;
    transition: transform .2s ease-in;
  }
  ul li a:hover {
    transform: scale(1.3);
  }
  h1 {
      text-align: center;
      padding-top:5%;
      font-size: 2em;
  }
  .back {
      width: 80%;
      height: 100%;
      margin-left: 10%;
      border-radius: 5px;
  }
  .active {
      text-decoration: none;
  }
  header {
    width: var(--max-width);
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
  }
  
  section#content {
    width: var(--max-width);
    margin: 0 auto;
    display: flex;
  }
  
  section#content ul {
    list-style-type: none;
    padding-left: 0;
  }
  body {

font-family: 'Raleway', sans-serif;
}

nav {
  margin-left: 85%;
  margin-top: 5%px;
  position: absolute;
  width: 90px;
  min-width: 180px;
  height: 500px;
}

nav h2 {
  border-radius: 7px;
  
  
  height: 60px;
  text-transform: uppercase;
  color: ivory;
  font-weight: 200;
  display: block;

 
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
  transition: all .4s;
}

nav:hover h2{
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
 }
nav:hover:active h2{
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
 }

input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    height: 40px;
}

#toggle:checked ~ul {
  height: 0%;
}

nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;
  
}
nav ul li {
  border-radius: 7px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;

  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
}

nav ul li:hover {
  background: grey;
  transition: background .45s;
}

nav ul li:hover a:active, li {
  color: tomato;

}

nav ul a {
  display:inline-block;
  color: ivory;
  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color .3s;

}


ul li a {
    display: block;
    padding: 0 15px;
    line-height: var(--nav-height);
    color: white;
    text-decoration: none;
    text-shadow: 0 2px 3px #0000007d;
    font-size: 1.2em;
    transition: transform .2s ease-in;
  }
 ul li a:hover {
    transform: scale(1.3);
  }
  
  .back {
      width: 80%;
      height: 100%;
      margin-left: 10%;
      border-radius: 5px;
  }
  .active {
      text-decoration: none;
  }
  header {
    width: var(--max-width);
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
  }
  
  section#content {
    width: var(--max-width);
    margin: 0 auto;
    display: flex;
  }
  
  section#content ul {
    list-style-type: none;
    padding-left: 0;
  }
