html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Quicksand;
}
.home-bg {
  background: url(bg.jpg);
  background-size: cover;
}
.about-me-bg {
  background: url(bg2.jpg);
  background-size: cover;
}
.contact-us-bg {
  background: url(bg3.jpg);
  background-size: cover;
}
.services-bg {
  background: url(bg4.jpg);
  background-size: cover;
}
.portfolio-bg {
  background: url(bg5.jpg);
  background-size: cover;
}

header {
  width: 100%;
  height: 100vh;
}

.content {
  height: 500px;
  width: 70%;
  margin: 4em 3em;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.logo {
  position: fixed;
  float: left;
  font-weight: bold;
  color: #fff;
  margin: 16px 36px;
  font-size: 24px;
}
nav {
  position: fixed;
  width: 100%;
}
nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
  transition: 1s;
  background: rgba(0, 0, 0, 0.2);
}
.bg-color {
  background-color: #434242;
}

nav.black ul {
  background: #000;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.logo img {
  margin: -0.35em -1em;
  width: 50px;
  height: 100%;
}
.menu-icon {
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}
.content-block {
  display: flex;
}
.contacts img {
  width: 40px;
}
.col {
  width: 25%;
  float: left;
  margin: 1.5em 0;
  display: inline-block;
  text-align: center;
}
h3 {
  display: block;
  margin-top: 0px;
}
.col a {
  text-decoration: none;
  color: #000;
  padding: -0.3em -0.4em;
}

.picture {
  width: 30%;
  padding-top: 0;
  border-radius: 4px;
  height: 100%;
  margin: 7.3em;
}

@media (max-width: 466px) {
  form {
    margin-left: 1em;
  }
  input {
    width: 60%;
  }
}
@media (max-width: 444px) {
  form {
    margin-left: 0;
  }
}
@media (max-width: 420px) {
  article {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 580px) {
  .col {
    width: 50%;
  }
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
  nav ul {
    max-height: 0px;
    background: #000;
  }
  nav.black ul {
    background: #000;
  }
  .showing {
    max-height: 22em;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }
  .menu-icon {
    display: block;
  }
  .picture {
    width: 70%;
    padding-top: 0;
    border-radius: 4px;
    height: 100%;
    margin: -8em 4em 3em;
  }
  .content-block {
    display: block;
  }
}
footer {
  height: 224px;
  background: #000;
}
.icon {
  width: 60px;
  padding: 0 15px;
}
.icons {
  text-align: center;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
}

article {
  display: none;
}
.content-active {
  display: block;
}

h1 {
  font-size: 40px;
}

@media (max-width: 905px) {
  .content-block {
    display: inline-block;
  }
  .picture {
    margin-top: -6em;
    margin-left: 3em;
    width: 60%;
  }
}
.blocks p {
  margin-bottom: 15px;

  position: relative;
}

#jcf * {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: "Helvetica";
}
#jcf {
  max-width: 500px;
}
#jcf .error {
  background-color: rgba(255, 184, 185, 0.8) !important;
  border: solid 1px #d8000c !important;
}
#jcf .error,
#jcf .error::placeholder {
  color: #d8000c !important;
}
#jcf .success {
  background-color: rgba(193, 255, 198, 0.8) !important;
  border: solid 1px #044406 !important;
}
#jcf .success,
#jcf .success::placeholder {
  color: #044406;
}
#jcf .msg {
  display: none;
  padding: 10px;
  margin-bottom: 5px !important;
  width: 99%;
  border-radius: 3px;
}
#jcf .contact_message {
  height: 200px;
}
#jcf #send_message {
  text-transform: uppercase;
  cursor: pointer;
}
#jcf button object {
  margin: -18px -5px !important;
  width: 50px !important;
}
#jcf select,
#jcf input,
#jcf textarea,
#jcf button {
  outline: none;
  background: none;
  border: solid 1px #505050;
  transition: box-shadow 0.2s, width 0.2s;
  width: 99%;
  max-width: 99%;
  min-width: 99%;
  appearance: none;
  padding: 10px !important;
  margin: 0 0 5px !important;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  border: solid 1px #505050;
}
#jcf select:focus,
#jcf input:focus,
#jcf textarea:focus,
#jcf button:hover {
  border: solid 1px #0066ff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
  width: 100%;
}
.active {
  background: #7c7c7c;
  border-radius: 3px;
  padding: 3px;
}
