* {
  margin: 0px;
  padding: 0px;
}
#home {
  display: flex;
  justify-content: center;
}
#content > div {
  height: 100vh;
}

.row {
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-wrap: wrap;
}
.about-me {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

hr {
  width: 100%;
  display: block;
  height: 2px;
  border: 2px;
  border-top: 1px solid rgb(15, 15, 15);
  margin: 1em 0;
  padding: 0;
}
.row h1 {
  font-size: 55px;
  color: black;
}

#home {
  background-image: linear-gradient(
      to top,
      rgba(87, 180, 216, 0.295),
      rgba(236, 236, 236, 0.979)
    ),
    url("https://images.unsplash.com/photo-1539447322629-4100721554cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
}
.navigation {
  display: block;
  margin-top: auto;
}
nav {
  position: relative;
  width: 100%;
  height: 45px;
  display: inline-block;
  position: fixed;
  background-color: black;
  z-index: 12;
}

nav ul li {
  display: inline-block;
  margin: 15px;
}
.navigation nav ul {
  float: right;
}
li a {
  display: flex;
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
.active {
  text-decoration: underline;
}
.carousel {
  position: relative;

  width: 500px;
  height: auto;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background: #eee;
}

.carousel img {
  width: 500px;
  height: auto;
  /* делаем этот элемент блочным, чтобы убрать лишнее пространство вокруг картинок */
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 100%;
  overflow: hidden;
}

.gallery ul {
  height: auto;
  width: 1000000px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
  /* http://davidwalsh.name/remove-whitespace-inline-block */
  font-size: 0;
}

.gallery li {
  display: inline-block;
}
#about-me {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-content: space-around;
  align-items: center;
}
.portfolio {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
}
#portfolio {
  background-color: white;
}
.portfolio div {
  color: white;
  background-color: rgb(133, 133, 133);
  border: 1px solid black;
  border-radius: 5px;
  max-width: 400px;
  height: 200px;
}

#services {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  text-align: center;
}
.services-block {
  max-width: 2560px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
#services h1 {
  color: black;
  font-size: 2em;
  display: block;
  width: 100%;
}
#services .my-services {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  border: 1px solid;
  border-color: #ddd;
  border-radius: 4px;
  width: 25%;
  height: auto;
}
#services .my-services img {
  width: 80%;
}

#contactPage section {
  display: flex;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
}

#contactPage section .text-box .address-box {
  width: 90%;
  height: 90%;
  border: 2px solid silver;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  text-align: center;
}
#contactPage section .text-box .address-box i {
  font-size: 1.4em;
}
#contactPage section .text-box .address-box a {
  color: rgb(60, 60, 60);
  text-decoration: none;
}
#contactPage section .text-box .address-box div div {
  margin: 10px 0;
}
input {
  color: #8b8b8b;
  padding-left: 5px;
  width: 100%;
  border: 2px solid silver;
  background: white;
  height: 40px;
  margin: 5px 0;
  box-sizing: border-box;
  outline: none;
}
input:focus {
  border-color: #7a7a7a;
}
label {
  visibility: hidden;
}
.mistake input {
  border-color: #e4442a;
}
.good input {
  border-color: limegreen;
}
.visible label {
  visibility: visible;
}
.hidden label {
  visibility: hidden;
}
.mail:invalid {
  border: 2px solid #ff7a65;
}
.mail:valid {
  border: 2px solid limegreen;
}
#contactPage {
  display: flex;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}
form {
  display: flex;
  width: 50%;
  flex-flow: wrap;
  background: #f8f8f8;
  box-sizing: border-box;
  padding: 10px;
}
form div {
  width: 100%;
}
form textarea {
  width: 100%;
  margin: 20px 0;
  height: 100px;
  resize: none;
  border: 2px solid silver;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

form a {
  margin: 6px auto;
  padding: 10px 20px;
  border: 0;
  border-bottom: 3px solid gray;
  background: #3c3c3c;
  outline: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

form a:hover {
  opacity: 0.9;
}

form a:active {
  border: 0;
  margin: 9px auto 6px;
}
