body {
    margin: 0;
    padding: 0;
    font-family: 'sans serif';
    font-size: 12pt;
    
    background-image: url(wall4.jpg);
    background-repeat: no-repeat;
    background-size: 1380px auto;
  }
  .hidden-menu {
    display: block;
    position: absolute;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 300px;
    background-color: lightslategray;
    height: 100%;
    top: 0;
    left: -300px;
    transition: left .2s;
    z-index: 3;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .hidden-menu-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index:  2;
    background-color: rgba(0,0,0,.1);
  }
  .hidden-menu-ticker {
    display: none;
  }
  .btn-menu {
    color: #fff;
    background-color: #666;
    padding: 5px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .btn-menu span {
    display: block;
    height: 5px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
  }
  .btn-menu span.first {
    margin-top: 0;
  }
  .hidden-menu-wrapper {
    width: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  .hidden-menu-ticker:checked ~ .btn-menu {
    left: 260px;
  }
  .hidden-menu-ticker:checked ~ .hidden-menu-wrapper {
    width: 100%;
  }
  .hidden-menu-ticker:checked ~ .hidden-menu-wrapper .hidden-menu {
    left: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(45deg);
    top: 10px;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }
  
  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-45deg);
    top: -10px;
  }
  header {
    font-family: 'Philosopher', sans-serif;
    color: #fff;
    text-align: center;
    padding: 5px;
  }
  
  h1 {
    font-family: 'Prociono', serif;
    margin: 0;
    padding: 0;
    font-size: 2em;
  }
  nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}
 
nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}
 
nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}
 
nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}
 
nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}
 
nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}
nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}
nav > ul > li > a:hover,
nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}
 
/**
 * линия подчеркивания ссылок меню
 */
 
 nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
 
nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */
 
nav > ul > li > a:hover:before {
    width: 0%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
 ul {
     padding-top:20px;
 }
 [id='nav-toggle']:checked ~ .mask-content {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
}

.shadow {
  font-family: 'Courgette', cursive;
  font-size: 1.5rem; 
}
.block {
  font-family: 'Hind Madurai', sans-serif;
  text-align: center;
  margin-left: 20%;
  width:60%;
  border-radius: 5px;
  font-size: 1em;
}
.hr {
  text-align: center;
  width: 30%;
  margin-top: -20px;
  margin-bottom: 40px;
}
footer {
  background-color: whitesmoke;
  width: 100%;
  border-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 200px;
  color:black; 
}
.col {
  display: inline-block;
  width: 15%;
  padding: 4%;
  font-size: .6em;
}
@media only screen and (max-width: 320px) {
  .col {
      display: block;
      width: 100%;
  }
  body {
      font-size: 1.5em;
  }
  .shadow {
      font-size: .8em;
  }
  .hr {
      width:60%;

  }
  .block {
      font-size: .7em;
      padding: 0px;
      
      width: 90%;
      margin-left: 5%;
  }
  .nav-toggle {
      top:0px;
  }
}
p {
  padding: 0px;
}
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
/* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed; /* фиксированное поцизионирование */
  cursor: default; /* тип курсара */

}
/* активируем слой затемнения */
.overlay:target {
  display: block;
 
}
/* стили модального окна */
.popup {
  top: -100%;
  right: 0;
  left: 50%;
  font-size: 14px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
  position: absolute;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
/* скругление углов */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  font: 14px/18px 'Tahoma', Arial, sans-serif;
/* внешняя тень */
  -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  -webkit-transform: translate(-50%, -500%);
  -ms-transform: translate(-50%, -500%);
  -o-transform: translate(-50%, -500%);
  transform: translate(-50%, -500%);
  -webkit-transition: -webkit-transform 0.6s ease-out;
  -moz-transition: -moz-transform 0.6s ease-out;
  -o-transition: -o-transform 0.6s ease-out;
  transition: transform 0.6s ease-out;


}
/* активируем модальный блок */
.overlay:target+.popup {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 20%;
  
}
/* формируем кнопку закрытия */
.close {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  position: absolute;
  padding: 0;
  border: 2px solid #ccc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(61, 61, 61, 0.8);
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
  text-align: center;
  text-decoration: none;
  font: 13px/20px 'Tahoma', Arial, sans-serif;
  font-weight: bold;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -ms-transition: all ease .8s;
  -o-transition: all ease .8s;
  transition: all ease .8s;
}
.close:before {
  color: rgba(255, 255, 255, 0.9);
  content: "X";
  text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
}
.close:hover {
  background-color: rgba(252, 20, 0, 0.8);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);    
}
/* изображения внутри окна */
.popup img {
 
  width: 48%;
  height: 50%;
}
/* миниатюры слева/справа */
.pic-left, 
.pic-right {
  width: 25%;
  height: auto;
}
.pic-left {
  float: left;
  margin: 5px 15px 5px 0;
}
.pic-right {
  float: right;
  margin: 5px 0 5px 15px;
}
/* элементы м-медиа, фреймы */
.popup embed, 
.popup iframe {
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0; 
  display:block;
  margin: auto;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
}
.popup h2 { /* заголовок 2 */
  margin: 0;
  color: #008000;
  padding: 5px 0px 10px;
  text-align: left;
  text-shadow: 1px 1px 3px #adadad;
  font-weight: 500;
  font-size: 1.4em;
  font-family: 'Tahoma', Arial, sans-serif;
  line-height: 1.3;
}
/* параграфы */
.popup p {margin: 0; padding: 5px 0}
.button {
color:black;
font-weight: bold;
font-size: 2em;
margin-left:35%;
text-decoration: none;
background-color: white;
border-radius: 6px;
font-family: 'Crimson Text';
}
nav a.active,
nav a:active,
nav a:focus {
text-decoration: none;
}
article {
  display: none;
}
.active {
  display: block;
}
link {
   font-size: 1em;
}

p {
  color: rgb(88, 25, 0);
  padding:20px;
  font-size: 1.3em;
}